.myDiv{
    width: 50px;
    height: 50px;
    border-color: black;
    border-radius: 7px;

}
.myDiv2{
    background-color: #0a1aac;
}
.myDiv3{
    background-color:darkorange;
    width: 200px;
    height: 450px;
    border-radius: 7px;
}
.myDiv4{
    color: aliceblue;
}
.myDiv5{
    background-color:darkorange;
    width: 500px;
    height: 450px;
    border-radius: 7px;
    border-color: aliceblue;
}

.button {
    background-color: #007bff;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
    width: 10vw;
    height: 30px;
    font-size: large;
    text-align: center;
    display: flex;
    align-items: center;
}

.button:hover {
    background-color: #434380;
    color: rgb(255, 255, 255);
    font-weight: bold;
    cursor: pointer;

}
.button1{
    background-color: rgb(255, 140, 0);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    border-style: outset;
    font-weight: bold;
    transition: background-color 0.3s;
    width: 10vw;
    height: 30px;
    font-size: medium;
    text-align: center;
    display: flex;
    align-items: center;
    border-color: aliceblue;
    align-tracks: center;

}
.button1:hover {
    background-color: #ff6200;
    color: rgb(255, 255, 255);
    font-weight: bold;
    cursor: pointer;

}

.imgLogin{
    border-radius: 100px;
}
.inputSignIn{
    padding: 5px 10px;
    height: 40px;
    width: 350px;
    border-radius: 3px;
    font-size: medium;
}